.venv/
venv/

__pycache__

tempCodeRunnerFile.py

env
.env

*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

.vscode/
.idea/

.DS_Store

*.log

data/

dist/
build/

coverage/
htmlcov/

*.parquet
*.json